/* Belong to https://codepen.io/chriddyp/pen/bWLwgP.css
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Added by Me
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries

/* Added by me for dropdown styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*body {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  border: #ffffff;
  background-color: #a9bcce;
}
.tittle_prin {
  display: flex;
  align-items:first baseline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 30%;
  height: 35px;
  margin-top: 10px;
  background-color: #0370dc;
}
.botton year {
  align-items: center;
  margin-left: 0;
  margin-top: 50px;
  color: #4a637c !important;
  border-bottom: 3px dotted gold;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  background-position-x: 244px;
}
.graph_int {
  color: #a9bcce;
  background-color: #000000;
}
.button-int {
  border-color: #ffffff;
  background-color: #a9bcce;
}
.graph bar-polar {
  color: #111111!important;
  font: bold;
  font-style: italic;
  height: 50%;
}
.graph sex {
  color: #0370dc;
  right: 0;
}
.graph bar {
  color: #1cdb3f;
  background-color: #4a637c;
}
.card {
  color: #a9bcce;
  background-color: #a9bcce;
}
